/* All text will be this font */
*{
  font-family: "San Francisco" !important;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff") !important;
}

input.search{
  border: 0;
}

/* Entire app */
.App{
  height: 100vh;
  position: relative;
  background-image: url(./assets/shapes-background.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 95vw;
}

.Title{
  min-height: 152px;
  position: relative;
  height: 30vh;
  display: block;
  text-align: center;
}

.Motto{
  min-height: 36px;
  position: relative;
  height: 5vh;
  display: block;
  text-align: center;
}

/* Math Base text */
h1{
  position: absolute;
  bottom: 0;
  left: 50vw;
  margin-left: -329.13px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 144px !important;
  color: #C85151;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Motto */
p.sub{
  position: absolute;
  bottom: 0;
  left: 50vw;
  margin-left: -162.1px;
  font-family: SF Pro Display;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;

  color: #C85151;
}

/* I don't think this even works tbh */
p.searchResults{
  text-align: center;
}

/* Keep the table full width */
table{
  table-layout: fixed;
}

/* Div with searchbox and results */
.container {
  max-width: 30vw;
  margin: 0 auto;
  padding: 2rem;
}

/* The whole thing with searchbox and results */
.search-panel {
  display: flex;
}

