em {
  background: cyan;
  font-style: normal;
}


.App{
  height: 100vh;
  display: grid;
  background-image: url(./assets/shapes-background.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 95vw;
}

header{
  position: relative;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: none;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 38px;
  /* or 27% */
  align-items: center;
  color: #C85151;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.sub{
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;

  font-family: SF Pro Display;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;

  color: #C85151;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}
